.header {
    background-color: var(--white);
    margin: 0 auto;
    max-width: 1110px;
}

.header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    padding: 97px 0 77px;
    margin: 0 auto;
    max-width: 670px;
    color: var(--black);
}