.content {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 4fr ;
    gap: 56px;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: var(--black);
}

.sidebar__text_title {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 14px;
}

.sidebar__text_name {
    font-size: 14px;
    line-height: 22px;
    padding: 2px 0 2px 0;
}

.sidebar__text_mainPage {
    padding-top: 28px;
}

.content__component {
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}