.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion_item {
    display: block;
    margin-bottom: 8px;
    border: solid var(--black) 1px;
    border-radius: 8px;
    padding: 10px;
    font-size: 12px;
    text-align: justify;
}

.accordion__item:last-child {
    margin-bottom: 0;
}