.histogram {
    max-width: 354px;
    max-height: 185px;
    background-color: var(--white);
    border: 1px solid #ACB5BD;
    border-radius: 8px;
}

/* Инфо по тексту */

.histogram__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    max-height: 50%;
    padding: 16px 24px 0 24px;
}

.histogram__total {
    color: var(--grey-4);
    float: left;
}

.histogram__orders {
    font-size: 20px;
    color: var(--black);
}

.histogram__viewAll {
    color: var(--blue);
}

/* Инфо по гистограмме */

.histogram__table {
    padding: 0 24px 26px 26px;
}

.histogram__columns {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.5px;
    height: 69px;
}

.histogram__cell {
    background-color: var(--blue);
    width: 9px;
    height: 60%;
}