.page_template {
    background-color: var(--grey-1);
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 30px;
    grid-template-areas: 'header'
                         'main'
                         'footer';
}

.page__footer {
    height: 166px;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__header {
    height: 82px;
    grid-area: header;
    padding: 0;
}