.skeleton {
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    max-height: 192px;
    max-width: 579px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Контент вверху */

.skeleton__description {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 24px;
}

.skeleton__pic {
    width: 64px;
    height: 64px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    border-radius: 50%;
}

.skeleton__lines {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skeleton__first-line {
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    height: 20px;
    width: 172px;
}

.skeleton__second-line {
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    height: 20px;
    width: 257px;
}

/* Контент внизу */

.skeleton__paragraph {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 24px 32px 24px;
}

.skeleton__p {
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    height: 20px;
    flex-grow: 1;
}